*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#0906f0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: serif;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background-color: #e4e1dd;
    border-radius: 8px;
}
.label{
    padding:20px 130px;
    font-size: 32px;
    font-weight: bold;
    color: chocolate;
}
.login_form{
padding: 20px 40px;
}
.login_form .font{
    font-size:18px;
    color: black;
    margin: 5px 0;

}
.login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size:18px;
    outline: none;
    border: 1px solid silver;
}
.login_form .font2{
    margin-top: 30px;
}
.login_form button{
    margin: 40px 0 30px 0;
    height: 45px;
    width: 350px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: #0906f0;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.5s;
}
